<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cee55.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Posture Fixer"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settingTime"
            android:label="Setting Time" />
        <activity
            android:name=".specificStart"
            android:label="Setting Start Time" />
        <activity
            android:name=".specificFinish"
            android:label="Setting Finish Time" />
        <activity
            android:name=".showSettingTime"
            android:label="Show Setting Time" />
        <activity
            android:name=".settingPosture"
            android:label="Setting Posture" />
        <activity
            android:name=".loading"
            android:label="Setting..." />
        <activity android:name=".statistics"></activity>
    </application>

</manifest>